DB_HOST=localhost
DB_PORT=5432
DB_NAME=buscali_db
DB_USER=buscali
DB_PASSWORD=buscali-password
DB_SSL=boolean
SECRET_JWT_KEY=your-secret-jwt-key
TIMEZONE= your-timezone
ALLOWED_ORIGINS= ["your-allowed-origins"]
PORT=3000

# DATABASE_URL= url-to-your-database
NODE_ENV=development-or-production
